/* main {
    background-image: url("/random-image.jpg");
    background-size: cover;
} */

.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.shadow {
    border: 1px solid transparent;
    /* Set a transparent border to preserve the layout */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    /* Apply a black blurred border using box-shadow */
}

.sticky {
    position: fixed;
    top: 0;
}

#projPics {
    background-color: rgb(47, 47, 47);
    width: 100%;
    max-height: 100vh;
    z-index: -5;
    overflow: hidden;
    /*position: fixed;*/
    /*display: flex;*/
    left: 0;
    pointer-events: none;
    /*opacity: 0*/
    will-change: transform, opacity;
}

.proj {
    z-index: -5;
    width: 60vw;
    /*transform: translateX(calc((-300% + 100vw)/2));*/
    transform: translate(calc((-300% + 100vw)/2), calc((-300% + 100vh)/2));
}

.image_container1,
.image_container2,
.image_container3 {
    z-index: -5;
    display: flex;
}
